.button-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
}

.button {
  width: 80px;
  font-size: 18px;
  border-radius: 4px;
  background-color: beige;
  padding: 5px;
  border: none;
  transition: none;
  transform: scale(1);
}

.button:hover {
  cursor: pointer;
  background-color: yellow;
  border: none;
  transform: scale(1.1);
  box-shadow: 3px 2px 5px 0px rgba(0, 0, 0, 0.75);
}
